---
import { getCollection } from "astro:content";
import Feed from "../../layouts/Feed.astro";

const posts = (await getCollection("code")).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<Feed title={"Code"}>
    {
        posts.map((post) => (
            <article>
                <h3>
                    <a href={`/code/${post.slug}`}>{post.data.title}</a>
                </h3>
            </article>
        ))
    }
</Feed>
