---
import Social from "../components/Social.astro";
import { Site } from "../consts";
import Base from "../layouts/Base.astro";
---

<Base title={Site.title} description={Site.description} heading={false}>
    <div class="welcome-content">
        <div class="page-head__blog-desc">
            <p>
                Front-End Engineer, UX/UI Designer y sobre todo Geek, larga vida
                a los Geeks 🖖🏽
            </p>
            <p>
                Padre de dos gatos a tiempo completo, cinéfilo y en mis ratos
                libres fotógrafo callejero 📷
            </p>
        </div>
        <Social />
    </div>
</Base>
