---
---

<div class="fat-footer__social">
    <ul class="list-bare list-inline">
        <li class="linkedin">
            <a
                href="http://linkedin.com/in/nellsavedra"
                target="_blank"
                rel="noreferrer"
            >
                <i class="fa fa-linkedin-square"></i>
            </a>
        </li><li class="dribbble">
            <a
                href="http://dribbble.com/nellsavedra"
                target="_blank"
                rel="noreferrer"
            >
                <i class="fa fa-dribbble" aria-hidden="true"></i>
            </a>
        </li><li class="github">
            <a
                href="https://github.com/nellsavedra"
                target="_blank"
                rel="noreferrer"
            >
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</div>
