---
import Header from "../components/Navigation.astro";
import Head from "../components/Head.astro";

// Props
const { title, description, heading = true, image } = Astro.props;
---

<html lang="es">
    <Head title={title} description={description} image={image} />
    <body>
        <main>
            <Header />
            <section class="content">
                {
                    heading && (
                        <h2 class="page-title">
                            <span class="underlined">{title}</span>
                        </h2>
                    )
                }
                <slot />
            </section>
        </main>
    </body>
</html>
